/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #007BFF;
    color: #fff;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* Estilos del encabezado */
h1 {
    text-align: center;
    color: #007BFF;
}

/* Estilos del formulario */
form {
    margin-bottom: 20px;
}

/* Estilos de los campos de entrada y botones */
input[type="number"], button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos de los resultados */
.results {
    margin-top: 20px;
}

.genre {
    text-align: center;
}

.genre img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
