<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="../public/Styless.css/registro.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            height: 100vh;
            background-image: url('../img/inicioro.jpg'); /* Ruta de tu imagen */
            background-size: cover;
            background-position: center;
            animation: moverFondo 10s linear infinite; /* Animación de fondo */
        }

       

        
    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <img src="../img/ronal.jpg" alt="Deezer Logo" class="image">
        </div>
        <div class="right-section">
            <h2>Registro</h2>
            <form action="inici.html" method="get">
                <input type="text" placeholder="Nombre 1" required>
                <input type="text" placeholder="Nombre 2" required>
                <input type="text" placeholder="Apellido 1" required>
                <input type="text" placeholder="Apellido 2" required>
                <input type="email" placeholder="Correo@gmail.com" required>
                <input type="password" placeholder="Contraseña" required>
                <button type="submit">Registrar</button>
            </form>
            <p>¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p>
        </div>
    </div>
</body>
</html>
